  body {
    background-color: #f3f3f3;
  }
  header {
    font-size: larger;
    background-color: rgb(207, 111, 33);
    padding: 20px;
  }
  
  header h1 {
    color: #eee;
    text-align: center;
  }
  
  main {
    margin: 20px;
  }
  
  main h2 {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: revert;
  }
  main section ul {
    list-style: inside;
  }
  
  img {
    margin-top: 20px;
  }
  
  .highlight {
    font-family: 'Anton', sans-serif;
    }
  
  .data {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: blue;
  }

main {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  table-layout: fixed; 
  width: 50px; 
}